In [25]:
#!pip install praw
import praw

In [26]:
reddit = praw.Reddit(
    client_id='rn3pJniAEOiNzoQoc0ptpA',
    client_secret='7yY-gQrwtJqHeeMp_dETpoYwMZTFIA',
    user_agent='sycamorecg0827',
    username='sycamorecg',
#     password='Tennis12!'
)

In [32]:
# Below is JUST an example of how you can use PRAW

# Choose your subreddit
mildly = reddit.subreddit('mildlyinteresting')


# Adjust the limit as needed -- Note that this will grab the 25 most recent posts
posts = mildly.top(limit=10)

In [33]:
import pandas as pd

data = []
def data_frame(posts):
    for post in posts:
        data.append([post.created_utc, post.title, post.selftext, post.subreddit])
    
    df = pd.DataFrame(data, columns = ['created_utc', 'title', 'self_text', 'subreddit'])
    df['created_utc'] = pd.to_datetime(df['created_utc'], unit='s')
    return df

In [34]:
top_10 = data_frame(posts)

In [ ]:
first_100 = data_frame(posts)

In [ ]:
second_100 = data_frame(posts)

In [38]:
top_10[['created_utc', 'title']]

          created_utc                                              title
0 2018-01-31 16:49:12  Local Mexican restaurant used to be a Chinese ...
1 2018-03-10 22:00:30           Found the cliff this Clif bar came from.
2 2020-04-14 17:28:54  I bought some suspiciously perfect bananas yes...
3 2021-06-27 11:09:47  My hotel phone in Iceland has a special button...
4 2019-07-12 16:41:46              I have a hereditary gap in my eyebrow
5 2018-11-19 20:36:43   The corrosion on this water tap looks like a map
6 2021-02-08 15:41:01  I got a warning for leaving my laptop unattend...
7 2019-08-12 22:48:18  i built a miniature audience out of ads I got ...
8 2020-12-13 21:24:23          I have partial heterochromia in both eyes
9 2019-07-17 23:26:08  My Uber driver offered a conversation “menu” f...

In [41]:
for posts in top_10['title']:
    print(posts)

Local Mexican restaurant used to be a Chinese restaurant. Instead of painting over a mural, they just put sombreros on the pandas.
Found the cliff this Clif bar came from.
I bought some suspiciously perfect bananas yesterday
My hotel phone in Iceland has a special button that will wake you up if there are northern lights in the sky.
I have a hereditary gap in my eyebrow
The corrosion on this water tap looks like a map
I got a warning for leaving my laptop unattended in the library
i built a miniature audience out of ads I got in the mail
I have partial heterochromia in both eyes
My Uber driver offered a conversation “menu” for his ride

In [22]:
mildly_first_100

,created_utc,title,self_text,subreddit
0,2024-07-09 17:29:17,At my work there’s an original sign from the 4...,,mildlyinteresting
1,2024-07-09 17:28:09,My SO and I have been living and traveling in ...,,mildlyinteresting
2,2024-07-09 17:16:11,I found an albino cicada!! The cicadas hit us ...,,mildlyinteresting
3,2024-07-09 16:57:53,This picture on a pack of light bulbs. They ar...,,mildlyinteresting
4,2024-07-09 16:41:24,12 oz. Coors cans are different dimensions tha...,,mildlyinteresting
...,...,...,...,...
95,2024-07-08 21:50:36,This albino leopard slug I found in our garden...,,mildlyinteresting
96,2024-07-08 21:50:08,The license plate on this animal control vehicle,,mildlyinteresting
97,2024-07-08 21:29:38,Individual potatoes wrapped in plastic in Mich...,,mildlyinteresting
98,2024-07-08 21:10:12,This bathroom with very little privacy for poo...,,mildlyinteresting
99,2024-07-08 20:51:11,The prescription mouthwash I got from my ENT d...,,mildlyinteresting

In [ ]:
mildly = mildly_first_100

In [23]:
mildly_total = pd.concat([mildly, mildly_first_100])

In [9]:
mildly_first_100.shape

(983, 4)

In [10]:
mildly_first_100.to_csv('mildy_interesting.csv')